###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.pdf binary
*.jpg binary
