<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-5 footer-left">
		  <p>&copy 2019–2026 Chang Lab. <a href="/aboutwebsite">more ›</a></p>
		   <p>
		     203–525, Seoul National University<br>
		     1 Gwanak-ro, Gwanak-gu<br>
		     Seoul 08826, South Korea
		   </p>
		   <p class="footer-icons">
		     <a href="https://github.com/hyeshik" aria-label="GitHub">{% include icon.html name="github" %}</a>
		     <a href="https://twitter.com/hyeshik" aria-label="Twitter">{% include icon.html name="twitter-square" %}</a>
		     <a href="https://pypi.org/user/hyeshik/" aria-label="PyPI">{% include icon.html name="python" %}</a>
		   </p>
		</div>
		<div class="col-sm-7 footer-links">
		  We are part of:<br>
                  <a href="https://science.snu.ac.kr/"><img src="/images/logopic/logo-snu-1.svg" alt="College of Natural Sciences, Seoul National University" class="img-responsive"></a>
                  <a href="https://www.ibs.re.kr/"><img src="/images/logopic/logo-ibs-1.svg" alt="Institute for Basic Science" class="img-responsive"></a>
		</div>
	  </div>
	</div>
  </div>
</div>
