<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-5 footer-left">
		  <p>&copy 2019–2021 Chang Lab. <a href="/aboutwebsite">more ›</a></p>
		   <p>
		     203–525, Seoul National University<br>
		     1 Gwanak-ro, Gwanak-gu<br>
		     Seoul 08826, South Korea
		   </p>
		   <p class="footer-icons">
		     <a href="https://github.com/hyeshik"><i class="fab fa-github"></i></a>
		     <a href="https://twitter.com/hyeshik"><i class="fab fa-twitter-square"></i></a>
		     <a href="https://pypi.org/user/hyeshik/"><i class="fab fa-python"></i></a>
		   </p>
		</div>
		<div class="col-sm-7 footer-links">
		  We are part of:<br>
                  <a href="http://science.snu.ac.kr/"><img src="/images/logopic/logo-snu-1.svg" class="img-responsive"></a>
                  <a href="https://www.ibs.re.kr/"><img src="/images/logopic/logo-ibs-1.svg" class="img-responsive"></a>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
