<footer id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-5 footer-left">
		  <p>&copy; 2019–{{ site.time | date: "%Y" }} CHANGlab. <a class="footer-about" href="{{ site.baseurl }}/aboutwebsite.html">About this site</a></p>
		   <p>
		     Building 203, Room 525<br>
		     Seoul National University<br>
		     1 Gwanak-ro, Gwanak-gu<br>
		     Seoul 08826, South Korea
		   </p>
		   <p class="footer-icons">
		     <a href="https://github.com/ChangLabSNU" aria-label="GitHub">{% include icon.html name="github" %}</a>
		     <a href="https://x.com/hyeshik" aria-label="X">{% include icon.html name="square-x-twitter" %}</a>
		     <a href="https://pypi.org/user/hyeshik/" aria-label="PyPI">{% include icon.html name="python" %}</a>
		   </p>
		</div>
		<div class="col-sm-7 footer-links">
		  We are part of:<br>
                  <a href="https://science.snu.ac.kr/"><img src="{{ '/images/logopic/logo-snu-1.svg' | relative_url }}" alt="College of Natural Sciences, Seoul National University" class="img-responsive"></a>
                  <a href="https://www.ibs.re.kr/"><img src="{{ '/images/logopic/logo-ibs-1.svg' | relative_url }}" alt="Institute for Basic Science" class="img-responsive"></a>
		</div>
	  </div>
	</div>
  </div>
</footer>
