<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">CHANGlab<sup>SNU</sup></a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/team">Team</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/research">Research</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/resources">Resources</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/openings">Openings</a></li>
	  </ul>
	</div>
  </div>
</div>

{%- comment -%}
  Served from this origin rather than ajax.googleapis.com: a third-party script
  is both a cross-domain include and something we cannot pin with SRI without
  tracking the CDN's copy. Pinned with a build-time hash anyway.
  Still jQuery 1.11.3 because Bootstrap 3.3.6 (js/bootstrap.min.js) refuses to
  load against jQuery 3.x -- upgrading one requires upgrading both.
{%- endcomment -%}
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.min.js" integrity="{{ '/js/jquery.min.js' | sri }}"></script>
