{% assign authorid = page.name | split: "." | first %}

{% assign number_fellowships = 0 %}
{% for fsh in site.data.fellowships %}
{% if fsh.recipient == authorid %}
{% assign number_fellowships = number_fellowships | plus: 1 %}
{% endif %}
{% endfor %}

{% if number_fellowships > 0 %}

#### Fellowships

<ul class="fellowships_in_profile chronological">
{% for fsh in site.data.fellowships reversed %}

{% if fsh.recipient == authorid %}
<li>
<span class="fellowship_period">
{%- if fsh.year.size > 1 -%}
{{ fsh.year[0] }}–{{ fsh.year[1] }}
{%- else -%}
{{ fsh.year }}
{%- endif -%}
</span>
<a href="{{ fsh.href }}" class="fellowship_title">{{ fsh.title }}</a>
from {{ fsh.donor }}
</li>
{% endif %}

{% endfor %}
</ul>
{% endif %}

{% assign number_publications = 0 %}
{% for publi in site.data.publist %}
{% assign authormatches = publi.authors | where_exp:"author", "author.link == authorid" %}
{% if authormatches.size > 0 %}
{% assign number_publications = number_publications | plus: 1 %}
{% endif %}
{% endfor %}

{% if number_publications > 0 %}

#### Publications with Our Lab

<ul class="publications_in_profile">
{% for publi in site.data.publist %}

{% assign authormatches = publi.authors | where_exp:"author", "author.link == authorid" %}
{% if authormatches.size > 0 %}
<li><a href="{{ publi.link.url }}" class="publi_title">{{ publi.title }}</a><br/>
{% include publication_author_list.html -%}
<span class="publi_journal">{{ publi.journal }}</span>
({{ publi.pubdate.year }}), {{ publi.vip }}</li> 
{% endif %}

{% endfor %}
</ul>
{% endif %}
