<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="body-container">
      <div class="container-fluid">
        <div class="row">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36114190-2"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-36114190-2');
</script>

  </body>

</html>
